


        html,
        body,
        .view {
            height: 100%;
            // cursor: pointer;


        }

        .view ul .arrow h1 a span{
          color: pink;

          &:hover{
            color: #ff0084;
          }

        }

        /* Navigation*/

        a{
            color: #fff;

            &:hover{
                color:pink;
            }
        }


        .hm-gradient-light .mask,
        .hm-gradient-light .full-bg-img {

          background: #ff0084; /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0.6) , rgba(255,52,157, 0.2)); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to left, rgba(0, 0, 0, 0.6) , rgba(255,52,157, 0.2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        .navbar {
            background-color: transparent;
        }

        .navbar-brand {
           font-family: 'Allura', cursive;
           font-size: 3rem;
           color: pink !important;
        }

        .navbar{

            .navbar-nav {
            padding-top: 25px;

                .nav-item {
                    font-weight: 100;
                    font-size: .8rem;

                        a {
                            padding-left: 16px;
                            font-weight: 100;
                        }
                }

            }

        }


        // Panel Klienta

        .modal-header .close {
                margin-top: -2px;
                color: red;
            }

         .modal-body{

            .form-intro {
                font-size: .8rem;
            }

            label{
                font-weight: 100;
            }
         }

         .modal-content{
            .form-register{
                font-size: .8rem;

                 p a {
                    color: red;

                    &:hover{
                        color: pink;
                    }
                }
            }
         }

        // Koszyk i User Menu

        .cart-menu {
            margin-top: -20px;

            .nav-item {

                padding-left: 15px;

                    .nav-link{
                        margin-left: 10px;
                         font-size: 1.0rem;

                    }
            }

            .dropdown-toggle::after{
                display: none;
            }

                .nav-counter {
                        position: absolute;
                        margin-left: -15px;
                        margin-top: -5px;
                        background-color: red;
                        color: #fff;
                        padding: 1px 5px;
                        font-size: 10px;
                        z-index: 222;
                        -webkit-border-radius: 10rem;
                        -moz-border-radius: 10rem;
                        -ms-border-radius: 10rem;
                        -o-border-radius: 10rem;
                        border-radius: 10rem }

            .dropdown-item {
                padding: 2px 2px;
                position: relative;
                display: block;
                min-width: 200px;
            }

            .dropdown-menu{
              min-width: auto;
            }

            .dropdown-cart .item {
                display:flex;
                align-items: center;
                flex-wrap: wrap;
                align-content: flex-start;


                    .item-left{
                        font-weight: 100;
                        padding-left: 5px;
                    }

                    .item-right {
                        float: right;

                        .btn.btn-sm{
                            padding: .3rem;
                        }
                    }

                    .price{
                        padding-right: 5px;
                    }

                    .item-left a.title {
                        word-break:break-all;
                        overflow: hidden;
                    }


            }

            .dropdown-cart p {
              font-size: 0.8rem;
            }

        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: rgba(28, 35, 49, .9);
        }


        // Hero

      #hero-main{
        font-family: 'Allura', cursive;
        font-size: 4rem;
      }

      #hero-sub {
        font-weight: 100;
      }

        // HomePage

        // Sidbar Menu

        .main-magme{

                max-width: 1400px;
                margin-top: 40px;

                // Kolor Dividera i linii

                .divider-new{
                  color: #ff0084;
                }
                .divider-new::before, .divider-new::after {
                      background: #ff0084;
                    }

        // Menu Boczne

            #accordion{

                    .card-header{
                      border-color: #f48fb1;
                      background-color: #f48fb1;


                      &:hover{
                        background-color: #f06292;
                         -webkit-transition: all .75s ease-in-out;
                         -moz-transition: all .35s ease-in-out;
                          -ms-transition: all .35s ease-in-out;
                           -o-transition: all .35s ease-in-out;
                              transition: all .35s ease-in-out;
                      }

                      h5 a {
                        color:#fff0f5;

                        &:hover{
                        color: #fff;
                        }
                      }
                    }

                    .card-header.active{
                        background-color: #f06292;
                      }

                    .card-header a span {
                      -webkit-transform: rotate(0deg);
                      -moz-transform:    rotate(0deg);
                      -ms-transform:     rotate(0deg);
                      -o-transform:      rotate(0deg);
                      -webkit-transition: all .35s ease-in-out;
                         -moz-transition: all .35s ease-in-out;
                          -ms-transition: all .35s ease-in-out;
                           -o-transition: all .35s ease-in-out;
                              transition: all .35s ease-in-out;
                    }

                    .card-header a:focus span, .card-header a:hover span, .card-header a:active span {
                      color: #fff;
                      -webkit-transform: rotate(90deg);
                      -moz-transform:    rotate(90deg);
                      -ms-transform:     rotate(90deg);
                      -o-transform:      rotate(90deg);
                      -webkit-transition: all .35s ease-in-out;
                         -moz-transition: all .35s ease-in-out;
                          -ms-transition: all .35s ease-in-out;
                           -o-transition: all .35s ease-in-out;
                              transition: all .35s ease-in-out;

                    }


                    .list-group .list-group-item {
                      color: #f06292;

                        &:hover{
                          color: #fff;
                          background-color: pink;
                          -webkit-transition: all .75s ease-in-out;
                         -moz-transition: all .75s ease-in-out;
                          -ms-transition: all .75s ease-in-out;
                           -o-transition: all .75s ease-in-out;
                              transition: all .75s ease-in-out;
                        }

                    }


             } //Koniec #accordion /Menu Boczne/

             // Wyszukiwarka

             .search-sidebar .divider-new{
                      margin-top: 20px;
                      margin-bottom: 20px;
                    }

            // Konfigurator

              .config-sidebar{

                  select {
                      border: 1px solid #111;
                       background: transparent;
                       width: 100%;
                       padding: 5px 25px 5px 5px;
                       font-size: 12px;
                       border: 1px solid #ccc;
                       height: 34px;
                       -webkit-appearance: none;
                       -moz-appearance: none;
                       appearance: none;
                        background: url(../img/icons/down-chevron.png) 96% / 5% no-repeat #e6e6e6;
                       }

                .divider-new{

                      margin-top: 20px;
                      margin-bottom: 20px;
                  }

              }


                  // Kontakt

                  .contact-card {

                        .contact-title{
                          font-family: 'Allura', cursive;
                          font-size: 1.7rem;
                        }

                         span, a {
                          color: #ff0084;
                        }

                     .divider-new{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    }
                  }

                  .newsletter-card {

                      span, label{
                        color: #ff0084;
                        font-weight: 100;
                      }

                    .divider-new{
                      margin-top: 20px;
                      margin-bottom: 20px;
                    }
                  }



        }

        // Main Content - Right Side

        .home-magme{

            .second-menu{
                padding-top: 20px;
            }

            .carousel-wrapper{
            overflow: hidden;
            }

            .divider-new{
                margin-bottom: 0;
                margin-top: 20px;
            }

            .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
            }
        }



        // Produkty - Home

        // Ribbon - Nowości

        .ribbon-wrapper-new {
              width: 85px;
              height: 88px;
              overflow: hidden;
              position: absolute;
              top: -3px;
              right: -3px;
            }

        .ribbon-new {
          font: bold 15px Sans-Serif;
          color: #333;
          text-align: center;
          text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
          -webkit-transform: rotate(45deg);
          -moz-transform:    rotate(45deg);
          -ms-transform:     rotate(45deg);
          -o-transform:      rotate(45deg);
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background-color: #F78AE0;
          background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(#F78AE0));
          background-image: -webkit-linear-gradient(top, pink, #F78AE0);
          background-image:    -moz-linear-gradient(top, pink, #F78AE0);
          background-image:     -ms-linear-gradient(top, pink, #F78AE0);
          background-image:      -o-linear-gradient(top, pink, #F78AE0);
          color: #6a6340;
          -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
          -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
          box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
        }

        // .ribbon-new:before, .ribbon-new:after {
        //   content: "";
        //   border-top:   3px solid #6e8900;
        //   border-left:  3px solid transparent;
        //   border-right: 3px solid transparent;
        //   position:absolute;
        //   bottom: 6px;
        // }

        // .ribbon-new:before {
        //   left: 0;
        // }
        // .ribbon-new:after {
        //   right: 0;
        // }​

        // Koniec Ribbon Promocja

      // Ribbon - Promocja

        .ribbon-wrapper-promo {
              width: 85px;
              height: 88px;
              overflow: hidden;
              position: absolute;
              top: -3px;
              right: -3px;
            }

        .ribbon-promo {
          font: bold 15px Sans-Serif;
          color: #fff;
          text-align: center;
          text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
          -webkit-transform: rotate(45deg);
          -moz-transform:    rotate(45deg);
          -ms-transform:     rotate(45deg);
          -o-transform:      rotate(45deg);
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background-color: #D4117F;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#D4117F), to(#D4111F));
          background-image: -webkit-linear-gradient(top, #D4117F, #D4111F);
          background-image:    -moz-linear-gradient(top, #D4117F, #D4111F);
          background-image:     -ms-linear-gradient(top, #D4117F, #D4111F);
          background-image:      -o-linear-gradient(top, #D4117F, #D4111F);
          color: #fff;
          -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
          -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
          box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
        }

        // Ribbon - promocja koniec

        footer.page-footer {
            background-color: #1C2331;
            margin-top: 2rem;
        }


        /*Call to action*/

        .flex-center {
            color: #fff;
        }

        .view {
            background: url("../img/hero_dlaKobiety.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        /*Contact section*/

        #contact .fa {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #1C2331;
        }


        // Footer

        footer {
            background-color: #fff;
            box-shadow: -1px -2px 3px #ccc;

          .footer-top{
            background-color: #871857;  //#54627D
            font-weight: 100;
            color: #fff;
            font-size: 0.8rem;

              .contact-title{
                font-family: 'Allura', cursive;
              }

              .column-footer{
                padding: 5%;
              }

              .btn{
                background-color: #455897;
              }

              p {
                margin-bottom: 0;
              }

              .tag{}
            }

            .footer-center{
              overflow: hidden;

                img{
                  float: left;
                  padding: 3%;
                }
            }

            .footer-bottom{
              background-color: #1C2331;
              color: #ccc;
              font-weight: 100;
              padding: 1%;
            }

        }




  @media only screen and (max-width: 460px) {
            .view {
            background: url("../img/hero_mobile.jpg") no-repeat !important;
            -webkit-background-size: 100% !important;
            -moz-background-size: 100% !important;
            -o-background-size: 100% !important;
            background-size: 100% !important;
            }


            // Mobilne Menu Początek

            .main-magme {
                overflow: hidden;
            }

            .row-offcanvas {
            position:relative;
            -webkit-transition: all .25s ease-out;
                 -o-transition: all .25s ease-out;
                    transition: all .25s ease-out;
            }

            .row-offcanvas-left {
            left: 0;
            }

            .row-offcanvas-right {
                right: 0;
              }

              .row-offcanvas-left
              .sidebar-offcanvas {
                left: -50%; /* 6 columns */
              }

              .row-offcanvas-right
              .sidebar-offcanvas {
                right: -50%; /* 6 columns */
              }

              .row-offcanvas-left.active {
                left: 50%; /* 6 columns */
              }

              .row-offcanvas-right.active {
                right: 50%; /* 6 columns */
              }

                .sidebar-offcanvas {
                position: absolute;
                top: 0;
                width: 50% ; /* 6 columns*/
                    }

                 // Mobilne Menu Koniec


              // Pasek Wyszukiwarki pod mneu
              .sidebar-offcanvas .search-sidebar h4 {

                -webkit-transform: scale(0.8);
                   -moz-transform: scale(0.8);
                    -ms-transform: scale(0.8);
                     -o-transform: scale(0.8);
                        transform: scale(0.8);
              }

              // Koniec Paska wyszukiwarki

        }

        @media only screen and (max-width: 768px) {


            .navbar {
                background-color: #1C2331;
                  position: relative; // Scrolowane menu
            }

            .dropdown-menu {
                position: relative;
                overflow: auto;

            }

            .view {
            background: url("../img/hero_mobile.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            }



        }