


        html,
        body,
        .view {
            height: 100%;
        }
        /* Navigation*/

        a{
            color: #fff;

            &:hover{
                color:pink;
            }
        }

        .navbar {
            background-color: transparent;
        }

        .navbar-brand {
           font-family: 'Allura', cursive;
           font-size: 3rem;
           color: pink !important;
        }

        .navbar{

            .navbar-nav {
            padding-top: 25px;

                .nav-item {
                    font-weight: 100;
                    font-size: .8rem;

                        a {
                            padding-left: 16px;
                            font-weight: 100;
                        }
                }

            }

        }


        // Panel Klienta

        .modal-header .close {
                margin-top: -2px;
                color: red;
            }

         .modal-body{

            .form-intro {
                font-size: .8rem;
            }

            label{
                font-weight: 100;
            }
         }

         .modal-content{
            .form-register{
                font-size: .8rem;

                 p a {
                    color: red;

                    &:hover{
                        color: pink;
                    }
                }
            }
         }

        // Koszyk i User Menu

        .card-menu {
            margin-top: -20px;

            .nav-item {

                padding-left: 15px;

                    .nav-link{
                        margin-left: 10px;
                         font-size: 1.0rem;

                    }
            }

            .dropdown-toggle::after{
                display: none;
            }

                .nav-counter {
                        position: absolute;
                        margin-left: -15px;
                        margin-top: -5px;
                        background-color: red;
                        color: #fff;
                        padding: 1px 5px;
                        font-size: 10px;
                        z-index: 222;
                        -webkit-border-radius: 10rem;
                        -moz-border-radius: 10rem;
                        -ms-border-radius: 10rem;
                        -o-border-radius: 10rem;
                        border-radius: 10rem }

            .dropdown-item {
                padding: 2px 2px;
                position: relative;
                display: block;
                min-width: 200px;
            }

            .dropdown-menu{
              min-width: auto;
            }

            .dropdown-cart .item {
                display:flex;
                align-items: center;
                flex-wrap: wrap;
                align-content: flex-start;


                    .item-left{
                        font-weight: 100;
                        padding-left: 5px;
                    }

                    .item-right {
                        float: right;

                        .btn.btn-sm{
                            padding: .3rem;
                        }
                    }

                    .price{
                        padding-right: 5px;
                    }

                    .item-left a.title {
                        word-break:break-all;
                        overflow: hidden;
                    }


            }

        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
        }


        // Hero

      #hero-main{
        font-family: 'Allura', cursive;
        font-size: 4rem;
      }

      #hero-sub {
        font-weight: 100;
      }

        // HomePage

        // Sidbar Menu

        .main-magme{

                max-width: 1400px;
                margin-top: 40px;

            .sidebar-offcanvas .list-group a{

              color: purple;
              background-color: #ede7f6;


            }

            .sidebar-offcanvas .list-group-item.active{
              color: purple;
              text-shadow: 0px 1px white;;
            }

            .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {

              border-color: pink;
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/pink+0,ef017c+100 */
              background: pink; /* Old browsers */
              background: -moz-linear-gradient(top,  pink 0%, rgba(247,150,211,1) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  pink 0%,rgba(247,150,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  pink 0%,rgba(247,150,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='pink', endColorstr='rgba(247,150,211,1)',GradientType=0 ); /* IE6-9 */


            }

            #accordion{

                    .card-header{
                      border-color: pink;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/pink+0,ef017c+100 */
                    background: pink; /* Old browsers */
                    background: -moz-linear-gradient(top,  pink 0%, rgba(247,150,211,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  pink 0%,rgba(247,150,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  pink 0%,rgba(247,150,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='pink', endColorstr='rgba(247,150,211,1)',GradientType=0 ); /* IE6-9 */
                    }
            }
        }

        // Main Content - Right Side

        .home-magme{

            .second-menu{
                padding-top: 20px;
            }

            .carousel-wrapper{
            overflow: hidden;
            }

            .divider-new{
                margin-bottom: 0;
                margin-top: 20px;
            }

            .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
            }
        }



        // Produkty - Home

        // Ribbon - Nowości

        .ribbon-wrapper-new {
              width: 85px;
              height: 88px;
              overflow: hidden;
              position: absolute;
              top: -3px;
              right: -3px;
            }

        .ribbon-new {
          font: bold 15px Sans-Serif;
          color: #333;
          text-align: center;
          text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
          -webkit-transform: rotate(45deg);
          -moz-transform:    rotate(45deg);
          -ms-transform:     rotate(45deg);
          -o-transform:      rotate(45deg);
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background-color: #F78AE0;
          background-image: -webkit-gradient(linear, left top, left bottom, from(pink), to(#F78AE0));
          background-image: -webkit-linear-gradient(top, pink, #F78AE0);
          background-image:    -moz-linear-gradient(top, pink, #F78AE0);
          background-image:     -ms-linear-gradient(top, pink, #F78AE0);
          background-image:      -o-linear-gradient(top, pink, #F78AE0);
          color: #6a6340;
          -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
          -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
          box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
        }

        // .ribbon-new:before, .ribbon-new:after {
        //   content: "";
        //   border-top:   3px solid #6e8900;
        //   border-left:  3px solid transparent;
        //   border-right: 3px solid transparent;
        //   position:absolute;
        //   bottom: 6px;
        // }

        // .ribbon-new:before {
        //   left: 0;
        // }
        // .ribbon-new:after {
        //   right: 0;
        // }​

        // Koniec Ribbon Promocja

      // Ribbon - Promocja

        .ribbon-wrapper-promo {
              width: 85px;
              height: 88px;
              overflow: hidden;
              position: absolute;
              top: -3px;
              right: -3px;
            }

        .ribbon-promo {
          font: bold 15px Sans-Serif;
          color: #fff;
          text-align: center;
          text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
          -webkit-transform: rotate(45deg);
          -moz-transform:    rotate(45deg);
          -ms-transform:     rotate(45deg);
          -o-transform:      rotate(45deg);
          position: relative;
          padding: 7px 0;
          left: -5px;
          top: 15px;
          width: 120px;
          background-color: #D4111F;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#D4111F), to(#D4117F));
          background-image: -webkit-linear-gradient(top, #D4111F, #D4117F);
          background-image:    -moz-linear-gradient(top, #D4111F, #D4117F);
          background-image:     -ms-linear-gradient(top, #D4111F, #D4117F);
          background-image:      -o-linear-gradient(top, #D4111F, #D4117F);
          color: #fff;
          -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
          -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
          box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
        }

        // Ribbon - promocja koniec

        footer.page-footer {
            background-color: #1C2331;
            margin-top: 2rem;
        }


        /*Call to action*/

        .flex-center {
            color: #fff;
        }

        .view {
            background: url("../img/hero_dlaKobiety.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        /*Contact section*/

        #contact .fa {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: #1C2331;
        }


                @media only screen and (max-width: 460px) {
            .view {
            background: url("../img/hero_mobile.jpg") no-repeat !important;
            -webkit-background-size: 100% !important;
            -moz-background-size: 100% !important;
            -o-background-size: 100% !important;
            background-size: 100% !important;
            }

            .main-magme {
                overflow: hidden;
            }

            .row-offcanvas {
            position:relative;
            -webkit-transition: all .25s ease-out;
                 -o-transition: all .25s ease-out;
                    transition: all .25s ease-out;
            }

            .row-offcanvas-left {
            left: 0;
            }

            .row-offcanvas-right {
                right: 0;
              }

              .row-offcanvas-left
              .sidebar-offcanvas {
                left: -50%; /* 6 columns */
              }

              .row-offcanvas-right
              .sidebar-offcanvas {
                right: -50%; /* 6 columns */
              }

              .row-offcanvas-left.active {
                left: 50%; /* 6 columns */
              }

              .row-offcanvas-right.active {
                right: 50%; /* 6 columns */
              }

                .sidebar-offcanvas {
                position: absolute;
                top: 0;
                width: 50% ; /* 6 columns*/
                    }

        }

        @media only screen and (max-width: 768px) {


            .navbar {
                background-color: #1C2331;
                  position: relative; // Scrolowane menu
            }

            .dropdown-menu {
                position: relative;
                overflow: auto;

            }

            .view {
            background: url("../img/hero_mobile.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            }



        }